@use "../settings/border";
@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/typography";
@use "../settings/sizes";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: spacing.$tiny;
  color: colors.$text-primary;
  font: inherit;
  font-weight: 700;
  height: 48px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: border.$radius-default;
  transition: all 0.2s;

  span {
    display: flex;
    align-self: center;
  }

  &--large {
    padding: spacing.$xxs spacing.$xxs;
    font: typography.$s300-bold;
    height: 60px;
  }

  &--medium {
    padding: spacing.$xxs spacing.$xxs;
    font: typography.$s200-bold;
    height: 48px;
  }

  &--small {
    padding: spacing.$tiny spacing.$xxs;
    font: typography.$s200-bold;
    height: 40px;
  }

  &--primary {
    background: colors.$cta-primary;

    @media screen and (min-width: sizes.$desktop) {
      &:hover,
      &:active {
        background: transparent;
        color: colors.$cta-primary;
        outline: 2px solid colors.$cta-primary;
        box-shadow: 0px 1px 15px 0px rgba(249, 255, 247, 1);
      }
    }
  }

  &--secondary {
    color: colors.$white;
    background: colors.$cta-secondary;

    @media screen and (min-width: sizes.$desktop) {
      &:hover,
      &:active {
        background: transparent;
        color: colors.$cta-secondary;
        outline: 2px solid colors.$cta-secondary;
        box-shadow: 0px 1px 15px 0px rgba(255, 255, 255, 1);
      }
    }
  }

  &--tertiary {
    background: colors.$white;

    &:hover {
      background: colors.$white-hover;
    }
  }

  &--inverted {
    color: colors.$white;
    background: transparent;
    border-color: colors.$white;

    &:hover {
      color: colors.$white-hover;
      border-color: colors.$white-hover;
    }
  }

  &--icon {
    padding: 0;
    border: none;
    background: transparent;
  }

  &:disabled,
  &__disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}
