@use "../settings/border";
@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/typography";

.checkbox {
  display: flex;
  align-items: center;
  gap: spacing.$xs;

  input {
    display: none;
  }
}
