@use "../settings/border";
@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/typography";

.dropdown {
  display: flex;
  flex-direction: column;
  gap: spacing.$tiny;

  &__container {
    background: colors.$white;
    border-radius: 0 0 border.$radius-default border.$radius-default;
    position: absolute;
    top: 2.75rem;
    left: 0;
    right: 0;
    overflow: auto;
    border-bottom: 0.25rem solid colors.$brand;
  }

  &__button {
    height: 3rem;
  }

  &__button,
  &__buttonActive {
    appearance: none;
    background: colors.$white;
    border: 0;
    border-radius: border.$radius-default;
    text-align: left;
    padding: 0;
    position: relative;

    &:focus,
    &:active {
      background: colors.$white;
    }
  }

  &__selection,
  &__selectionActive {
    border-radius: border.$radius-default;
    padding: spacing.$xxs spacing.$xxs;
    height: 3rem;
    display: flex;
    align-items: center;
  }

  &__arrow,
  &__arrowActive {
    background: colors.$state-disabled;
    border-radius: border.$radius-default;
    position: absolute;
    right: spacing.$xxs;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.1875rem;
    height: 2.1875rem;
    z-index: 10;
  }

  &__arrowActive {
    transform: translateY(-50%) rotate(180deg);
  }

  &__icon {
    width: 0.625rem;
    display: flex;
    align-self: center;
  }

  &__selection {
    color: colors.$text-placeholder;
  }

  &__selectionActive {
    color: colors.$text-primary;
  }

  &__list {
    border-radius: border.$radius-default;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    padding: spacing.$tiny spacing.$xxs;
    width: 100%;
    color: colors.$text-primary;
  }

  &__searchInput {
    appearance: none;
    background: colors.$white;
    border: 0;
    border-radius: border.$radius-default;
    color: colors.$text-primary;
    padding: spacing.$xxs spacing.$xxs;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 3rem;
    text-align: left;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: colors.$text-placeholder;
    }

    &Selected {
      color: colors.$text-primary;

      &::placeholder {
        color: colors.$text-primary;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
