@use "../settings/border";
@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/typography";

.field {
  display: flex;
  flex-direction: column;
  gap: spacing.$tiny;
  position: relative;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    background: colors.$white;
    border-radius: border.$radius-default;
    padding: spacing.$xxs spacing.$xxs;
    border-top: 0.25rem solid colors.$white;
    border-bottom: 0.25rem solid colors.$white;
    height: 3rem;

    &:focus-within {
      border-bottom: 0.25rem solid colors.$brand;
    }

    &__icon {
      width: 1.5rem;
    }
  }

  input,
  label {
    font: typography.$s200-bold;
  }

  input {
    appearance: none;
    border: none;
    border-radius: border.$radius-default;
    color: colors.$text-primary;
    width: 100%;

    &::placeholder {
      color: colors.$text-placeholder;
    }

    &:focus {
      outline: none;
    }
  }

  label {
    color: colors.$white;
    order: -1;
  }

  &.error {
    .field__container {
      border-bottom: 0.25rem solid colors.$state-error;
    }

    .error__message {
      color: colors.$state-error-font;
    }
  }
}
