@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/border";

.card {
  padding:  spacing.$sm spacing.$xs;
  border-radius: border.$radius-large;

  &--primary {
    background-color: colors.$white;
  }
  &--primary-selected {
    background-color: colors.$white;
    border: 3px solid colors.$cta-primary;
  }
}
