@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/border";
@use "../settings/sizes";

.card {
  padding: spacing.$sm spacing.$xs;
  border-radius: border.$radius-large;

  &--primary {
    background-color: colors.$white;
  }

  &--primary-selected {
    background-color: colors.$white;
    border: 0.1875rem solid colors.$cta-primary;
  }

  &--secondary {
    border-radius: border.$radius-medium;
    box-shadow: 0.125rem 0.5625rem 2.975rem 0 rgba(0, 9, 13, 0.59);
    padding: 1rem;

    @media screen and (min-width: sizes.$desktop) {
      border-radius: 1.25rem;
      padding: 1.5rem 2rem;
    }
  }

  @media screen and (min-width: sizes.$desktop) {
    border-radius: border.$radius-large;
  }
}
