@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/sizes";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: spacing.$md 0;
  width: 90%;
  margin-bottom: auto;

  &Centered {
    justify-content: center;
  }

  &__button {
    background: transparent;
    border: none;
    color: colors.$white;
    margin-left: auto;
    padding: 0;
    width: 1.5625rem;
    height: 1.5625rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo,
  &__link {
    width: 11rem;
  }

  &__back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  @media (min-width: sizes.$tablet) {
    padding: spacing.$sm 0;
    margin-bottom: -(spacing.$sm);
    max-width: 76rem;
  }
}
