@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/sizes";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: spacing.$xxs 0;
  width: 90%;
  margin-bottom: auto;

  &Centered {
    justify-content: center;
  }

  &__button {
    background: transparent;
    border: none;
    color: colors.$white;
    margin-left: auto;
    padding: 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo,
  &__link{
    width: 176px;
  }

  @media (min-width: sizes.$tablet) {
    padding: spacing.$sm 0;
    margin-bottom: - spacing.$sm;
    max-width: 1216px;
  }
}


