@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/sizes";
@use "../settings/typography";
@use "../settings/border";

.headerInner {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;

  &Title {
    display: flex;
    align-items: center;
    gap: 1rem;

    h2 {
      font: typography.$s400-bold;
      align-items: center;
      align-self: center;
    }
  }

  &Icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  &Close {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: colors.$white;

    &Icon {
      width: 1.5rem;
    }
  }

  @media screen and (min-width: sizes.$tablet) {
    &Title {
      h2 {
        font: typography.$s500-bold;
      }
    }
  }
}
