@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/border";
@use "../settings/typography";
@use "../settings/sizes";

.profileHire {
  &__header,
  &__content {
    margin-bottom: spacing.$lg;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: spacing.$tiny;
  }

  &__content {
    > span {
      display: block;
      margin-bottom: spacing.$sm;
    }
  }

  &__counter {
    display: flex;
    align-items: baseline;
    justify-content: center;
    max-width: 310px;
    margin: 0 auto;

    button {
      background: colors.$text-disabled;
      color: colors.$white;
      font-size: 1.5rem;
      font-weight: 100;
      line-height: 1;
      width: 56px;
      margin-left: auto;
      margin-right: 0;

      &:last-of-type {
        margin-left: 0;
        margin-right: auto;
      }
    }

    input {
      text-align: center;
    }

    > div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-left: -90px;
      margin-right: -90px;

      > div {
        width: 86px;
        grid-row: 1;
        grid-column: 2;
        margin: 0 auto;
      }

      > span {
        grid-row: 2;
        grid-column: span 3;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: spacing.$sm;
    max-width: 364px;
    margin: 0 auto;

    span {
      display: block;

      &:last-of-type {
        font: typography.$s700-bold;
      }
    }
  }

  @media (min-width: sizes.$desktop) {
    &__counter {
      > div {
        span {
          margin-left: -80px;
          margin-right: -80px;
        }
      }
    }
  }
}
