@use "../settings/colors";
@use "../settings/border";
@use "../settings/spacing";
@use "../settings/sizes";
@use "../settings/typography";

.supercademy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 26.5rem;
    width: 100%;

    header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-bottom: 2rem;
      width: 100%;

      h1 {
        color: colors.$brand;
        padding: 0;
        font-size: 5rem;
        line-height: 1.2;
      }

      span {
        font-size: 1.5rem;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
      }
    }
  }

  &__icon {
    width: 10.05rem;
  }
}
