@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/border";
@use "../settings/typography";
@use "../settings/sizes";

.profileHire {
  &__header,
  &__content {
    margin-bottom: spacing.$lg;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: spacing.$tiny;
    padding-top: spacing.$md;
  }

  &__content {
    > span {
      display: block;
      margin-bottom: spacing.$sm;
    }
  }

  &__counter {
    display: flex;
    align-items: baseline;
    justify-content: center;
    max-width: 19.375rem;
    margin: 0 auto;

    button {
      background: colors.$text-disabled;
      color: colors.$white;
      font-size: 1.5rem;
      font-weight: 100;
      line-height: 1;
      width: 2.5rem;
      margin-left: auto;
      margin-right: 0;
      z-index: 20;

      &:last-of-type {
        margin-left: 0;
        margin-right: auto;
      }
    }

    input {
      text-align: center;
    }

    > div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-left: -5.625rem;
      margin-right: -5.625rem;

      > div {
        width: 5.375rem;
        grid-row: 1;
        grid-column: 2;
        margin: 0 auto;
      }

      > span {
        grid-row: 2;
        grid-column: span 3;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: spacing.$sm;
    max-width: 34rem;
    margin: 0 auto;

    span {
      display: block;

      &:last-of-type {
        font: typography.$s700-bold;
      }
    }
  }

  @media (min-width: sizes.$desktop) {
    &__counter {
      > div {
        span {
          margin-left: -5rem;
          margin-right: -5rem;
        }
      }
    }
  }
}

.modalHire {
  &__body {
    > * {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 0 auto;
      max-width: 21.875rem;
      margin-bottom: 2rem;

      > * {
        width: 100%;
      }
    }
  }

  &__footer {
    margin: 0 auto;
    max-width: 24rem;

    > * {
      width: 100%;
    }
  }
}
