@use "../settings/border";
@use "../settings/colors";
@use "../settings/typography";
@use "../settings/spacing";
@use "../settings/sizes";

.account {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem -1rem;

  @media screen and (min-width: sizes.$tablet) {
    margin: 0 auto;
  }
}

.card {
  background-color: colors.$white;
  padding: spacing.$sm spacing.$xs;
  border-radius: border.$radius-large;
  border: 0.25rem solid transparent;
  max-width: 24rem;
  margin: 0 auto;

  &__primarySelect {
    background-color: colors.$white;
    border: 0.1875rem solid colors.$cta-primary;
    border-radius: border.$radius-large;
    padding: spacing.$sm spacing.$xs;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: spacing.$xs;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: spacing.$tiny;
    width: 100%;
    flex-grow: 1;

    @media (min-width: sizes.$tablet) {
      span {
        align-self: center;
        justify-self: center;
        text-align: center;
      }
    }
  }

  &__plan {
    height: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: spacing.$tiny;

    > span {
      width: 3.75rem;
      display: flex;
      justify-content: center;
    }
  }

  &__price {
    margin-right: auto;

    > * {
      &:first-child {
        margin-right: 0.375rem;
      }
    }
  }

  &__button {
    display: flex;
    width: 100%;

    > * {
      width: 100%;
    }
  }

  &Active {
    border: 0.25rem solid colors.$brand;
  }

  @media (min-width: sizes.$tablet) {
    &__container {
      flex-direction: column;
    }

    &__plan {
      width: 100%;
      align-items: center;
    }

    &__price {
      margin-left: 0;

      span {
        text-align: left;
        align-self: flex-start;
        justify-self: flex-start;
      }
    }

    &:nth-child(2) {
      .card__plan {
        > span {
          width: 5rem;
        }
      }
    }

    &:nth-child(3) {
      .card__plan {
        > span {
          width: 6.875rem;
        }
      }
    }
  }

  @media screen and (min-width: sizes.$tablet) {
    &__container {
      flex-direction: row;
    }

    &__plan {
      width: 40%;
    }

    &__content {
      width: 60%;

      span {
        align-self: flex-start;
        justify-content: flex-start;
      }
    }
  }
}
