@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/sizes";
@use "../settings/typography";

.navigation {
  background: colors.$bg-darkTheme;
  box-shadow: 0.125rem 0.5625rem 2.975rem rgba(0, 9, 13, 0.59);
  min-height: 100vh;
  min-height: 100svh;
  width: 15.5rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.3s ease;
  transform: translateX(-110%);
  z-index: 30;

  &__home {
    height: 8.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &Active {
      &::after {
        content: "";
        background: colors.$brand;
        position: absolute;
        top: 50%;
        right: 0;
        width: 0.3125rem;
        height: 4.5rem;
        transform: translateY(-50%);
      }
    }
  }

  &__logo {
    appearance: none;
    background: none;
    border: none;

    &Icon {
      width: 4.0625rem;
      display: flex;
    }
  }

  &__list {
    list-style: none;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 54vh;
    overflow: auto;

    @media (min-width: sizes.$desktop) {
      gap: spacing.$xs;
      height: 68vh;
    }
  }

  &__item,
  &__item > a {
    display: flex;
    align-items: center;
    gap: spacing.$xs;
  }

  &__item > a {
    padding: spacing.$xs spacing.$sm;
    width: 100%;
  }

  &__icon {
    width: spacing.$md;
    height: spacing.$md;
  }

  &__name {
    color: colors.$white;
    align-self: center;
    font: typography.$s300-bold;
  }

  &__itemActive {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0.3125rem;
      height: 100%;
      background: colors.$brand;
    }
  }

  &__dropdown {
    background: colors.$cta-tertiary;
    border-radius: 0.625rem;
    position: relative;
    margin: 0 auto 1rem auto;
    height: 3.5rem;
    transition: all 0.3s ease;
    max-width: 11.5rem;
    width: 100%;

    &Container {
      background: transparent;
      border: 0;
      display: flex;
      padding: 0;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      z-index: 20;
    }

    &ContainerBottom {
      color: colors.$white;
      padding: 1rem 0.5rem;
      margin-top: 0.25rem;
      position: relative;
      z-index: 10;

      opacity: 0;
      visibility: hidden;
      transform: translateY(-2rem);
      transition: all 0.3s ease;

      &:before {
        content: "";
        height: 0.0625rem;
        background: rgba(219, 219, 219, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 90%;
      }
    }

    span {
      align-self: center;
      justify-self: flex-end;
      margin-right: auto;
    }

    &Icon {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: auto;
      margin-left: 0;
      padding: 0.5rem;
    }

    &ArrowIcon,
    &LogoutIcon {
      width: 1.5rem;
      height: 1.5rem;
    }

    &Active {
      height: 7.5rem;

      .navigation__dropdownContainerBottom {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }

      .navigation__dropdownArrowIcon {
        transform: rotate(180deg);
      }
    }

    @media (min-width: sizes.$tablet) {
      margin: 2rem auto;

      &Active {
        margin: -2rem auto 2rem auto;
      }
    }
  }

  &Open {
    transform: translateX(0);

    .navigation {
      &__logo {
        transform: rotate(-90deg);
        animation: rotate 0.3s 0.2s forwards;
      }
    }
  }

  @media (min-width: sizes.$tablet) {
    &Open {
      position: fixed;
      top: 0;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
