@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/sizes";
@use "../settings/typography";

.navigation {
  background: colors.$bg-darkTheme;
  box-shadow: 2px 9px 47.6px rgba(0, 9, 13, 0.59);
  min-height: 100svh;
  width: 248px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.3s ease;

  transform: translateX(-110%);
  animation: slideOut 0.3s ease-in-out;
  z-index: 30;

  &__home {
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &Active {
      &::after {
        content: "";
        background: colors.$brand;
        position: absolute;
        top: 50%;
        right: 0;
        width: 5px;
        height: 4.5rem;
        transform: translateY(-50%);
      }
    }
  }

  &__logo {
    appearance: none;
    background: none;
    border: none;

    &Icon {
      width: 65px;
      display: flex;
    }
  }

  &__list {
    list-style: none;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 68vh;
    overflow: auto;

    @media (min-width: sizes.$desktop) {
      gap: spacing.$xs;
    }
  }

  &__item,
  &__item > a {
    display: flex;
    align-items: center;
    gap: spacing.$xs;
  }

  &__item > a {
    padding: spacing.$xs spacing.$sm;
    width: 100%;
  }

  &__icon {
    width: spacing.$md;
    height: spacing.$md;
  }

  &__name {
    color: colors.$white;
    align-self: center;
    font: typography.$s300-bold;
  }

  &__itemActive {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 5px;
      height: 100%;
      background: colors.$brand;
    }
  }

  &__dropdown {
    background: colors.$cta-tertiary;
    border: 0;
    border-radius: 10px;
    position: relative;
    // height: 56px;
    padding: 0;
    max-width: 184px;
    width: 100%;
    margin: 0 auto 1rem auto;

    &Container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &ContainerBottom {
      color: colors.$white;
      padding: 1rem 0.5rem;
      margin-top: 0.25rem;
      position: relative;

      &:before {
        content: "";
        height: 1px;
        background: rgba(219, 219, 219, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 90%;
      }
    }

    span {
      align-self: center;
      justify-self: flex-end;
      margin-right: auto;
    }

    &Icon {
      width: 56px;
      height: 56px;
      margin-right: auto;
      margin-left: 0;
      padding: 0.5rem;
    }

    &ArrowIcon,
    &LogoutIcon {
      width: 24px;
      height: 24px;
    }

    @media (min-width: sizes.$tablet) {
      margin: 2rem auto;
    }
  }

  &Open {
    transform: translateX(0);
    animation: slideIn 0.3s ease-in-out;

    .navigation {
      &__logo {
        transform: rotate(-90deg);
        animation: rotate 0.3s 0.2s forwards;
      }
    }
  }

  @media (min-width: sizes.$tablet) {
    &Open {
      position: relative;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
