.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;
  height: 100vh;
  height: 100svh;

  > span {
    width: 5rem;
  }

  h1 {
    font-size: clamp(4rem, calc(3vw + 3vh), 8rem);
  }

  a {
    margin: 0 auto;
    max-width: 20rem;
    width: 100%;
  }

  h2 {
    margin-bottom: 2rem;
  }

  > * {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
}
