@use "../settings/colors";

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  height: 100svh;
}

.splash__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 21.875rem;
  min-height: calc(100vh - 4.375rem);
  min-height: calc(100svh - 4.375rem);
  min-height: calc(100vh - 8rem);
  min-height: calc(100svh - 8rem);
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;

  svg {
    animation: bounce 2s ease infinite;
  }

  &::after {
    content: "";
    width: 100%;
    height: 1.25rem;
    display: block;
    border-radius: 100%;
    background: colors.$bg-darkTheme-hover;
    margin: 1rem auto;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.875rem);
  }
  60% {
    transform: translateY(-0.9375rem);
  }
}
