@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/sizes";
@use "../settings/typography";
@use "../settings/border";

.chat {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__container {
    max-width: 1184px;
    width: 94%;
    margin: 0 auto;
    padding: 1rem 0 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: spacing.$lg;
    position: sticky;
    overflow: auto;
    height: calc(100vh - 17rem);
    height: calc(100svh - 17rem);
  }

  &__footer {
    max-width: 1184px;
    width: 94%;
    margin: 0 auto;
  }

  &__tags {
    display: flex;
    gap: 1rem;
    overflow: auto;
    padding: 1rem 0;
    width: 100vw;

    &Item {
      flex-shrink: 0;
    }
  }

  &__tag {
    appearance: none;
    background: rgba(219, 219, 219, 1);
    border: 0;
    padding: 4px 8px;
    border-radius: 8px;

    &Icon {
      width: 0.5rem;
    }

    &Principal {
      background: rgba(100, 238, 133, 1);
      appearance: none;
      border: 0;
      padding: 4px 8px;
      border-radius: 8px;
      gap: 1rem;
      display: inline-flex;
    }
  }

  &__send {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: 0 0 2rem;
  }

  &__attach,
  &__sendIcon {
    background: transparent;
    color: colors.$white;
    position: absolute;
    border: 0;
    width: 3rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  &__attach {
    left: 0;
    top: 0;
  }

  &__sendIcon {
    right: 0;
    top: 0;
  }

  &__input {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 1);
    flex-grow: 1;
    height: 56px;
    border-radius: 16px;
    gap: 4px;

    input {
      appearance: none;
      position: absolute;
      background: transparent;
      color: colors.$white;
      padding: 16px 40px 16px 45px;
      border: 0;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;

      &::placeholder {
        color: white;
      }
    }
  }

  &__record {
    flex-shrink: 0;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    color: colors.$white;
    border: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &Icon {
      width: 100%;
      flex-shrink: 0;
      display: flex;

      &Active {
        animation: debounce 0.1s ease-out forwards;
      }
    }
  }

  &__attachPopup {
    background: colors.$white;
    border-radius: spacing.$tiny;
    color: colors.$text-primary;
    position: absolute;
    bottom: 6rem;
    overflow: hidden;
    animation: fadeIn 0.3s ease;
    box-shadow: 0 3px 13px 0 rgba(6, 26, 35, 1);

    &Item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid colors.$input-border;
      gap: 0.5rem;
      height: 40px;
      padding: 0.5rem 1rem;
      position: relative;

      &:last-child {
        border-bottom: 0;
      }

      span {
        color: colors.$text-primary;
        display: flex;
        align-self: center;
        align-items: center;
      }
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  &__withCalendar {
    .chat {
      &__container {
        height: calc(100vh - 23.5rem);
        height: calc(100svh - 23.5rem);
      }
    }
  }

  &__timeline {
    &Icon {
      width: 50%;
      margin-left: auto;
      diplay: flex;
    }
    &Wrapper {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      position: relative;
      width: 50%;
      overflow: hidden;
      height: 4rem;
    }
  }

  @keyframes size {
    to {
      background-position-x: 100vw;
    }
  }

  &__progress {
    background-color: colors.$brand;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-size: contain;
    background-position-x: 0;
    mask-image: var(--progress-mask);
    mask-size: cover;
    animation: progressAnimation 4s linear infinite;
    width: 90%;
    z-index: 10;

    &Bg {
      background-color: white;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      background-size: contain;
      background-repeat: repeat;
      background-position-x: 0;
      mask-image: var(--progress-mask);
      animation: progressAnimation 4s linear infinite;
      mask-size: cover;
      width: 90%;
      opacity: 0.6;
    }
  }

  @keyframes progressAnimation {
    to {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @media screen and (min-width: sizes.$desktop) {
    &__container {
      padding: 3rem 0;
      height: calc(100vh - 24rem);
      height: calc(100svh - 24rem);
    }

    &__withAvatar {
      .chat {
        &__container {
          height: calc(100vh - 26rem);
          height: calc(100svh - 26rem);
        }
      }
    }
  }
}

.message {
  display: flex;
  align-items: flex-start;
  gap: spacing.$md;

  &__content {
    background: colors.$white;
    color: colors.$text-primary;
    border-radius: 0.625rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  &__avatar {
    flex-shrink: 0;

    img {
      border-radius: 100%;
    }
  }

  &__received {
    .message {
      &__content {
        background: colors.$white;
      }
    }
  }

  &__sent {
    margin-left: auto;

    .message {
      &__avatar {
        order: 1;
      }

      &__content {
        background: rgba(171, 246, 181, 1);
      }
    }
  }

  @media screen and (min-width: sizes.$desktop) {
    &__content {
      border-radius: 1.875rem;
      padding: 2rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes debounce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
