@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/sizes";
@use "../settings/typography";
@use "../settings/border";

.myProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100svh;

  &__title {
    margin-bottom: 2rem;
  }

  &__choose{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: spacing.$md;
  }

  &__icon {
    width: 104px;
    display: flex;
    align-self: center;
    justify-self: center;
  }

  &__name {
    justify-self: center;
    align-items: center;
    text-align: center;
  }

  &__card {
    box-shadow: 2px 9px 47.600006103515625px 0 rgba(0, 9, 13, 0.59);
    background: colors.$bg-darkTheme;
    border-radius: border.$radius-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: spacing.$xs;
    padding: spacing.$md spacing.$sm;
    width: 224px;
  }

  &__avatar {
    width: 200px;
    margin: 0 auto 1rem auto;
  }
}


@media (min-width: sizes.$tablet) {
  .myProfile {
    &__title {
      font: typography.$s700-bold;
      color: colors.$white;
      margin-bottom: spacing.$sm;
    }

    &__choose {
      flex-direction: row;
    }

    &__avatar {
      width: 352px;
    }
  }
}
