@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/sizes";
@use "../settings/typography";
@use "../settings/border";

.homePrivate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: 94%;
  max-width: 100%;

  &__avatarWrapper {
    position: relative;
    width: 12.5rem;
    height: 12.5rem;
    margin-bottom: 2rem;
  }

  &__hover {
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    span,
    button,
    a {
      color: unset;
    }

    &Icon {
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
    }

    &On {
      background: rgba(100, 238, 133, 0.85);
      color: colors.$cta-tertiary;
    }

    &Off {
      background: rgba(237, 37, 78, 0.85);
      color: colors.$white;
    }
  }

  &__avatar {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 0.5rem solid colors.$bg-danger;
    flex-shrink: 0;

    img {
      border-radius: 100%;
    }

    &SwitchedOn {
      border: 0.5rem solid colors.$brand;
    }

    &:hover {
      > div {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__avatarCta {
    appearance: none;
    border: 0;
    background: colors.$bg-danger;
    color: colors.$white;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    &SwitchedOn {
      background: colors.$brand;
      color: colors.$cta-tertiary;
    }
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: 0;
    text-align: center;
  }

  &__choose {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: spacing.$md;
  }

  &__icon {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 2rem;
    flex-shrink: 0;

    @media (min-width: sizes.$tablet) {
      width: 6.5rem;
    }
  }

  &__name {
    justify-self: center;
    align-items: center;
    text-align: left;
    text-decoration: none;

    @media (min-width: sizes.$tablet) {
      text-align: center;
    }
  }

  &__card {
    appearance: none;
    box-shadow: 0.125rem 0.5625rem 2.975rem 0 rgba(0, 9, 13, 0.59);
    background: colors.$bg-darkTheme;
    border-radius: border.$radius-large;
    color: colors.$white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: spacing.$xs;
    padding: spacing.$xs spacing.$sm;
    border: 0.1875rem solid transparent;

    &Active,
    &:active,
    &:focus,
    &:hover {
      border-color: colors.$brand;
      color: colors.$brand;
    }

    @media (min-width: sizes.$tablet) {
      flex-direction: column;
      padding: spacing.$md spacing.$sm;
      width: 14rem;
    }
  }
}

@media (min-width: sizes.$tablet) {
  .homePrivate {
    &__title {
      font: typography.$s700-bold;
      color: colors.$white;
      margin-bottom: spacing.$lg;
    }

    &__choose {
      flex-direction: row;
    }

    &__avatarWrapper {
      width: clamp(12.5rem, calc(10vw + 10vh), 22rem);
      height: clamp(12.5rem, calc(10vw + 10vh), 22rem);
    }
  }
}
