@use "../settings/colors";
@use "../settings/border";
@use "../settings/spacing";
@use "../settings/sizes";
@use "../settings/typography";

.store {
  margin-bottom: auto;
  width: 100%;

  &__body {
    min-height: calc(100vh - 104px);
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 2rem;

    > * {
      width: 100%;
    }
  }

  &__card {
    background: rgba(44, 85, 111, 1);
    border-radius: 0.875rem;
    color: colors.$brand;
    padding: 0.68rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    strong {
      font-size: 1.75rem;
      margin: 0.68rem auto 0.25rem auto;
    }

    span {
      &:first-child {
        width: 2rem;
      }
    }
  }

  @media screen and (min-width: sizes.$tablet) {
    &__body {
      width: calc(100% - 4rem);
    }

    &__header {
      flex-direction: row;
      padding: 0;

      > button {
        max-width: 380px;
      }
    }

    &__card {
      max-width: 17.06rem;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem 0;

  scrollbar-width: auto;
  scrollbar-color: #64ee85 transparent;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #64ee85;
    border-radius: 10px;
    border: transparent;
  }

  > * {
    width: calc(50% - 0.5rem);
  }

  @media screen and (min-width: sizes.$tablet) {
    gap: 3rem 4rem;
    height: calc(100vh - 240px);
    overflow: auto;
    padding: 3rem;
    margin-right: -3rem;
    margin-left: -3rem;
    margin-bottom: auto;

    > * {
      width: calc(33.33% - 2.75rem);
    }
  }

  @media screen and (min-width: sizes.$desktop) {
    gap: 4rem 6rem;

    > * {
      width: calc(33.33% - 4rem);
    }
  }
}

.card {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    height: 100%;
    position: relative;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.875rem;

      span {
        align-self: center;
        align-items: center;
      }
    }

    section {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      flex-grow: 1;

      img {
        margin: 0 auto;
      }
    }

    footer {
      display: flex;
      margin-top: auto;

      span {
        display: flex;
        margin-left: auto;
        align-self: center;
        justify-content: flex-end;

        &:first-child {
          width: 2rem;
          flex-shrink: 0;
        }

        &:last-child {
          margin-left: 0.5rem;
          font-size: clamp(1rem, calc(1.5vw + 1.5vh), 2rem);
          color: colors.$brand;
        }
      }
    }

    button {
      position: absolute;
      top: -1rem;
      left: -1rem;
      width: calc(100% + 2rem);
      height: calc(100% + 2rem);
      opacity: 0;
    }
  }
}
