$_tiny: 8px;
$_xxs: 11px;
$_xs: 16px;
$_sm: 24px;
$_md: 32px;
$_lg: 40px;
$_xl: 64px;
$_xxl: 4rem;
$_xxxl: 6rem;
$_huge: 8rem;
$_mega: 11.375rem;

$tiny: $_tiny;
$xxs: $_xxs;
$xs: $_xs;
$sm: $_sm;
$md: $_md;
$lg: $_lg;
$xl: $_xl;
$xxl: $_xxl;

$section: $_xxxl;
$section-huge: $_huge;
$section-mega: $_mega;
